img.poster {
    width: 580px;
    /* width সীমা */
    height: 180px;
    /* proportion ঠিক রাখবে */
    border-radius: 15px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}